<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dsjk.platform.modules.sys.mapper.UserMapper">

    <select id="getById" resultType="com.dsjk.platform.modules.sys.bean.SysUser">
        SELECT
        mobile
        FROM sys_user a
        WHERE a.id = #{id}
    </select>

</mapper>